body {
    background-color: #add8e6;
}

h1 {
    background-color: #000000;
    color: #ffffff;
    font-size: 32px;
    font-family: "Arial", "Verdana", sans-serif;
    padding: 10px;
    margin: 10px auto;
    width: 500px;
    text-align: center;
    border: 5px dotted #008000;
}